%% -*- erlang -*-
[
 {myer, [
         {mysql_pool,
          [
          %{address, <<"localhost">>}
          %{port, 20506}
           {user, <<"test_oldpwd">>},
           {password, <<"test">>},
           {database, <<"test">>},
          %{compress, true}
           {timeout, 1}
          ]}
        ]}
].
