%% -*- erlang -*-
[
 {myer, [
         {mysql_pool,
          [
          %{address, {127,0,0,1}}
          %{port, 20507}
           {user, <<"test_sha256pwd">>},
           {password, <<"test">>},
           {database, <<"test">>},
          %{compress, true}
           {timeout, 1}
          ]}
        ]}
].
