%% -*- erlang -*-
[
 {myer, [
         {mysql_pool,
          [
          %{address, "localhost"}
          %{port, 20507}
           {user, <<"test_sha256nopwd">>},
           {password, <<"">>},
           {database, <<"test">>},
          %{compress, true}
           {timeout, 1}
          ]}
        ]}
].
