%% -*- erlang -*-

{base_dir, ".rebar3"}.

{deps, [
        {baseline, {git,"https://github.com/tomaon/baseline",{branch,"master"}}}
       ]}.

{profiles, [
            {prod, [
                    {erl_opts, [
                                %% @see http://www.erlang.org/doc/man/compile.html
                                no_debug_info
                                %%warnings_as_errors
                               ]}
                   ]},
            {test, [
                    {deps, [
                            {emysql, {git,"https://github.com/Eonblast/Emysql",{branch,"master"}}}
                           ]},
                    {erl_opts, [
                                %%bin_opt_info
                                %%compressed
                                debug_info
                                %%warnings_as_errors
                               ]},
                    {ct_opts, [
                               %% @see http://www.erlang.org/doc/man/ct.html
                               {config, "priv/ct/ct.config"},
                               {cover, "priv/ct/cover.config"}
                               %%{spec, ["priv/ct/*.spec"]}
                              ]},
                    {dialyzer, [
                                %% @see http://www.erlang.org/doc/man/dialyzer.html
                                {warnings, [
                                            %%no_return
                                            %%no_unused
                                            %%no_improper_lists
                                            %%no_fun_app
                                            %%no_match
                                            %%no_opaque
                                            %%no_fail_call
                                            %%no_contracts
                                            %%no_behaviours
                                            %%no_undefined_callbacks
                                            %%unmatched_returns
                                            %%error_handling
                                            %%race_conditions
                                            %%overspecs
                                            underspecs
                                            %%specdiffs
                                            %%unknown
                                           ]},
                                {get_warnings, true},
                                {plt_extra_apps, [baseline]},
                                {plt_location, local}
                               ]}

                   ]}
           ]}.
