%% -*- erlang -*-

%% @see
%%   ct_opts : http://www.erlang.org/doc/man/ct.html
%%   dialyzer: http://www.erlang.org/doc/man/dialyzer.html
%%   erl_opts: http://www.erlang.org/doc/man/compile.html

{base_dir, ".rebar3"}.

{deps, [
        {baseline, {git,"https://github.com/tomaon/baseline",{branch,"master"}}}
       ]}.

{profiles, [
            {prod, [
                    {erl_opts, [
                                %% compressed
                                warnings_as_errors
                               ]}
                   ]},
            {test, [
                    {deps, [
                            {emysql, {git,"https://github.com/Eonblast/Emysql",{branch,"master"}}}
                           ]},
                    {erl_opts, [
                                %% bin_opt_info
                                %% debug_info % default
                                %% {d,'TEST'} % default
                                warn_export_all,
                                warn_export_vars,
                                warn_obsolete_guard,
                                warn_unused_import
                               ]},
                    {ct_opts, [
                               {config, "priv/ct/ct.config"},
                               {cover, "priv/ct/cover.config"}
                               %% {spec, ["priv/ct/*.spec"]}
                              ]},
                    {dialyzer, [
                                {warnings, [
                                            %% no_return
                                            %% no_unused
                                            %% no_improper_lists
                                            %% no_fun_app
                                            %% no_match
                                            %% no_opaque
                                            %% no_fail_call
                                            %% no_contracts
                                            %% no_behaviours
                                            %% no_undefined_callbacks
                                            %% unmatched_returns
                                            %% error_handling
                                            %% race_conditions
                                            %% overspecs
                                            underspecs
                                            %% specdiffs
                                            %% unknown
                                           ]},
                                {get_warnings, true},
                                {plt_extra_apps, [baseline]},
                                {base_plt_apps, [crypto,erts,kernel,stdlib]}
                               ]}

                   ]}
           ]}.
