%% -*- erlang -*-

 {require_min_otp_vsn, "R16B"}.

 {erl_opts, [
            %bin_opt_info
            %compressed
             debug_info
            %warnings_as_errors
            ]}.

 {ct_log_dir, ".ct"}.
 {ct_extra_params, "-ct_config priv/ct/ct.config -cover priv/ct/cover.config"}.
%{ct_extra_params, "-spec priv/ct/*.spec -erl_args -config priv/ct/n.config"}.

 {clean_files, [
                "ebin", "erl_crash.dump", ".rebar",
                ".ct", "test/*.beam"
               ]}.


 {deps_dir, ["deps"]}.
 {deps, [
         {poolboy, ".*", {git,"https://github.com/devinus/poolboy",{tag,"1.0.0"}}}
        ]}.
