%% -*- erlang -*-
[
 %% os: darwin-12.4.0 x86_64
 {myer, [
         {poolboy, [
                    %% {drizzle_pool, % 7.1.36 (source:gcc-4.6.3)
                    %%  [
                    %%   {size, 1},
                    %%   {max_overflow, 3}
                    %%  ],
                    %%  [
                    %%   {address, <<"localhost">>},
                    %%   {port, 3306},
                    %%   {user, <<"test">>},
                    %%   {password, <<"test">>},
                    %%   {database, <<"test">>},
                    %%   {max_allowed_packet, 4194304}
                    %%  ]},
                    {mysql_pool, % 5.6.12 (source:gcc-4.6.3)
                     [
                      {size, 1},
                      {max_overflow, 3}
                     ],
                     [
                      {address, <<"localhost">>},
                      {port, 20506},
                      {user, <<"test">>},
                      {password, <<"test">>},
                      {database, <<"test">>},
                     %{compress, true},
                      {max_allowed_packet, 4194304}
                     ]}
                   ]}
        ]}
].
