# ====================================
#  my.cnf for fugo : v51 (small+)
# ====================================

# ------------------------------------
# ------------------------------------
[mysqld]
 datadir = /var/tmp/fugo/v51/data
#init_connect = 'SET autocommit=0'
 key_buffer_size = 16K
 log-error = /var/tmp/fugo/v51/log/error.log
 lower_case_table_names = 1 # linux=1,macos=2
 max_allowed_packet = 1M
 net_buffer_length = 2K
 pid-file = /var/tmp/fugo/v51/log/mysqld.pid
 port = 20501 # 3306
 query_cache_size = 0
 query_cache_type = 0
 read_buffer_size = 256K
 read_rnd_buffer_size = 256K
 server-id = 51
 skip-external-locking
 socket = /tmp/mysql.v51.sock # /tmp/mysql.sock
 sort_buffer_size = 64K
 table_open_cache = 20
 thread_stack = 256K

 innodb_buffer_pool_size = 16M
 innodb_data_file_path = ibdata1:10M:autoextend
 innodb_data_home_dir = /var/tmp/fugo/v51/data
 innodb_doublewrite = 0
 innodb_file_per_table = 1
 innodb_log_buffer_size = 16M
 innodb_log_file_size = 5M
 innodb_log_group_home_dir = /var/tmp/fugo/v51/data

# ------------------------------------
# ------------------------------------
[client]
 default-character-set = utf8
 socket = /tmp/mysql.v51.sock

[mysql]
 no-auto-rehash
