%% -*- erlang -*-

{hostname, wheezy}. % atom

{test_v56_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 5.6.12 (source:gcc-4.6.3-14)
               % {address, <<"172.16.236.164">>},
               % {port, 20506},
                 {database, <<"test">>},
                 {max_allowed_packet, 16777256}, % 4194304
                 {timeout, 20}
                ]}.

{test_v55_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 5.5.32 (source:gcc-4.6.3-14)
                 {address, <<"172.16.236.164">>},
                 {port, 20505},
                 {database, <<"test">>},
                 {max_allowed_packet, 1048576},
                 {timeout, 20}
                ]}.

{test_v51_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 5.1.70 (source:gcc-4.6.3-14)
                 {address, <<"172.16.236.164">>},
                 {port, 20501},
                 {database, <<"test">>},
                 {max_allowed_packet, 1048576},
                 {timeout, 20}
                ]}.

{test_v50_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 5.0.96 (source:gcc-4.6.3-14)
                 {address, <<"172.16.236.164">>},
                 {port, 20500},
                 {database, <<"test">>},
                 {max_allowed_packet, 1048576},
                 {timeout, 20}
                ]}.

{test_v41_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 4.1.25 (source:gcc-4.6.3-14)
                 {address, <<"172.16.236.164">>},
                 {port, 20401},
                 {database, <<"test">>},
                 {max_allowed_packet, 1048576},
                 {timeout, 20}
                ]}.

{test_v40_pool, [
                 %% os   : wheezy-3.2.0-4-amd64, vmware_fusion-4.1.4
                 %% mysql: 4.0.30 (source:gcc-4.6.3-14)
                 {address, <<"172.16.236.164">>},
                 {port, 20400},
                 {database, <<"test">>},
                 {max_allowed_packet, 1048576},
                 {timeout, 20}
                ]}.
