%% -*- erlang -*-

%% 5.7.8 (source:clang-602.0.53) : darwin-14.4.0

{group_normal, [
                {myer, [
                        {mysql_pool, [
                                    % {address, <<"172.16.236.164">>},
                                    % {port, 20507},
                                      {user, <<"test">>},
                                      {password, <<"test">>},
                                      {database, <<"test">>},
                                      {compress, false},
                                      {max_allowed_packet, 16777256},
                                      {timeout, 20}
                                     ]}
                       ]}
               ]}.

{group_compress, [
                {myer, [
                        {mysql_pool, [
                                    % {address, <<"172.16.236.164">>},
                                    % {port, 20507},
                                      {user, <<"test">>},
                                      {password, <<"test">>},
                                      {database, <<"test">>},
                                      {compress, true},
                                      {max_allowed_packet, 16777256},
                                      {timeout, 20}
                                     ]}
                       ]}
               ]}.
