%% -*- erlang -*-

%% 5.7.8 (source:clang-700.0.72) : darwin-15.0.0

{group_normal, [
                {myer, [
                        {mysql_pool, [
                                    % {address, {127,0,0,1}}
                                    % {port, 20507}
                                      {user, <<"test">>},
                                      {password, <<"test">>},
                                      {database, <<"test">>},
                                      {compress, false},
                                      {max_allowed_packet, 16777256},
                                      {timeout, 20}
                                     ]}
                       ]}
               ]}.

{group_compress, [
                {myer, [
                        {mysql_pool, [
                                    % {address, {127,0,0,1}}
                                    % {port, 20507}
                                      {user, <<"test">>},
                                      {password, <<"test">>},
                                      {database, <<"test">>},
                                      {compress, true},
                                      {max_allowed_packet, 16777256},
                                      {timeout, 20}
                                     ]}
                       ]}
               ]}.
